.hero-section {
  background-color: #dbb5b5;
  font-family: "Cormorant Garamond", serif;
  height: 250px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin: 5px;
  margin-top: 40px;
}

.hero-content h1 {
  margin: 0.5rem 0;
  font-size: 20px;
  color: #987070;
  margin-bottom: 20px;
}

.hero-contact-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #987070;
  background-color: #efe9de;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
